<div class="mt-4 mb-4">
    <h2>{{course.name}}</h2>
    <iframe width="975" height="550" src="https://www.youtube.com/embed/{{course.videoID}}" title="Course detail page" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h3>{{course.description}}</h3>
</div>
